# OSX artifacts
.DS_Store

# Dev artifacts
.vscode/

# Binaries for programs and plugins
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
test.log

# Disregard vendor packages
_tools/
vendor/

# Ignore build artifacts
out/**/*

# ci artifacts
.ci/
test.log
profile.cov

# helm binaries
linux-amd64/
