{{- if .CarbonIngester }}
coordinator:
  carbon:
    ingester:
      listenAddress: "0.0.0.0:7204"
{{- else }}
coordinator: {}
{{- end  }}

db:
  hostID:
    resolver: file
    file:
      path: /etc/m3db/pod-identity/identity
      timeout: 5m

  client:
    writeConsistencyLevel: majority
    readConsistencyLevel: unstrict_majority

  discovery:
    config:
      service:
        env: "{{ .Env }}"
        zone: embedded
        service: m3db
        cacheDir: /var/lib/m3kv
        etcdClusters:
        - zone: embedded
          endpoints:
{{- range .Endpoints }}
          - "{{- . }}"
{{- end }}
